@font-face {
    font-family: "lato";
    src: url(../fonts/lato/lato-black.ttf);
}

@font-face {
    font-family: "archivo narrow";
    src: url(../fonts/archivo_narrow/static/archivonarrow-bold.ttf);
}

@font-face {
    font-family: "bebas_neue";
    src: url(../fonts/bebasneue-regular.ttf);
}

@font-face {
    font-family: "doto";
    src: url(../fonts/doto/static/doto-black.ttf);
}

@font-face {
    font-family: "edu_au_vic_wa_nt_pre";
    src: url(../fonts/edu_au_vic_wa_nt_pre/static/eduauvicwantpre-bold.ttf);
}

@font-face {
    font-family: "faculty_glyphic";
    src: url(../fonts/facultyglyphic-regular.ttf);
}

@font-face {
    font-family: "geist_mono";
    src: url(../fonts/geist_mono/static/geistmono-light.ttf);
}

@font-face {
    font-family: "host_grotesk";
    src: url(../fonts/host_grotesk/static/hostgrotesk-bold.ttf);
}

@font-face {
    font-family: "josefin_sans";
    src: url(../fonts/josefin_sans/static/josefinsans-regular.ttf);
}

@font-face {
    font-family: "roboto_slab";
    src: url(../fonts/roboto_slab/static/robotoslab-extrabold.ttf);
}

body {
    background-color:#c17fff;
}


.type1 {
    font-family: "lato", sans-serif;
    font-weight:100;
    letter-spacing: 5px;
    line-height: 3;
    font-size: 1.5em;
    text-align: center;
}

.type2 {
    font-family: "archivo narrow", sans-serif;
    font-weight:200;
    font-size: 2em;
    text-align: right;
}

.type3 {
    font-family: "bebas_neue", serif;
    font-weight:300;
    letter-spacing: 8px;
    line-height: 6;
}


.type4 {
    font-family: "doto", sans-serif;
    font-weight:400;
    font-size: 3em;
    text-align: center;
}


.type5 {
    font-family: "edu_au_vic_wa_nt_pre", serif;
    font-weight:500;
    letter-spacing: 15px;
    line-height: 9;
}


.type6 {
    font-family: "faculty_glyphic", serif;
    font-weight:600;
    font-size: 2em;
    text-align: right;
}


.type7 {
    font-family: "geist_mono", serif;
    font-weight:700;
    letter-spacing: 28px;
    line-height: 3;
}


.type8 {
    font-family: "host_grotesk", serif;
    font-weight:800;
    font-size: 3em;
    text-align: center;
}


.type9 {
    font-family: "josefin_sans", serif;
    font-weight:900;
    letter-spacing: 6px;
    line-height: 1;
}


.type10 {
    font-family: "roboto_slab", serif;
    font-weight:1000;
    font-size: 1em;
    text-align: center;
}
